@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
@media(max-width:578px){
  .main{
    padding:0px 10px;
  }
  .flex{
    height:auto;
    display:flex;
    flex-direction: column;
    gap:40px;
  }
  .top-content{
  width:100%;
  text-align: center;
 padding:10px 20px;

  }
  .img{
  margin: auto;
  }
}
